<div class="mt-1" >
    @if(@Message.SenderId != @Client.Id){
        <MudExpansionPanel Class="w-75 mr-auto rounded-r-xl" Dense="true" DisableGutters="true" id="recipientMessageHeader"  Text="@( Message.DateOfSending.ToString() + ": "+ Message.MessageTitle)">
            <MudText Class="pa-4 " Style="background-color:white"  Typo="Typo.body1">@Message.MessageBody</MudText>
        </MudExpansionPanel>
    }else{
        <MudExpansionPanel Class="w-75 ml-auto rounded-l-xl" Dense="true" DisableGutters="true" id="clientMessageHeader" Text="@( Message.DateOfSending.ToString() + ": "+ Message.MessageTitle)">
            <MudText Class="pa-4 " Style="background-color:white"  Typo="Typo.body1">@Message.MessageBody</MudText>
        </MudExpansionPanel>
    }
</div>

@code {
    [Parameter]
    public UserModel Client{ get; set; }
    [Parameter]
    public MessageModel Message { get; set; }


    public string CreateMessageTitle()
    {
        return Message.MessageTitle;
    }
}


